<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>201007-Carousel</title>
  <link rel="stylesheet" href="css/style.css">
  <!-- <style></style> -->
</head>
<body>
  <!-- Component Start -->
  <div id="slider">
    <div class="window" ref="sliderWindow">
      <!-- 轮播图视窗 -->
      <ul :class="{
          container: true,
          animate: animateTrigger
        }" :style="containerStyle">
        <!-- 图片容器 -->
        <li class="placeholder">
          <!-- 最前面的占位图 -->
          <img :src="sliders[sliders.length - 1].src" alt="">
        </li>
        <li v-for="(item, index) in sliders" :key="index">
          <img :src="item.src" alt="">
        </li>
        <li class="placeholder">
          <!-- 最后面的占位图 -->
          <img :src="sliders[0].src" alt="">
        </li>
      </ul>
      <!-- 导航箭头 -->
      <ul class="direction">
        <li class="left-arrow" @click="move(600, 1)">
          <svg class="icon" width="30px" height="30.00px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#ffffff" d="M481.233 904c8.189 0 16.379-3.124 22.628-9.372 12.496-12.497 12.496-32.759 0-45.256L166.488 512l337.373-337.373c12.496-12.497 12.496-32.758 0-45.255-12.498-12.497-32.758-12.497-45.256 0l-360 360c-12.496 12.497-12.496 32.758 0 45.255l360 360c6.249 6.249 14.439 9.373 22.628 9.373z"  /></svg>          
        </li>
        <li class="right-arrow" @click="move(600, -1)">
          <svg class="icon" width="30px" height="30.00px" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path fill="#ffffff" d="M557.179 904c-8.189 0-16.379-3.124-22.628-9.372-12.496-12.497-12.496-32.759 0-45.256L871.924 512 534.551 174.627c-12.496-12.497-12.496-32.758 0-45.255 12.498-12.497 32.758-12.497 45.256 0l360 360c12.496 12.497 12.496 32.758 0 45.255l-360 360c-6.249 6.249-14.439 9.373-22.628 9.373z"  /></svg>          
        </li>
      </ul>
      <!-- 导航圆点 -->
      <ul class="dots">
        <li v-for="(dot, i) in sliders" :key="i"
          :class="{ dotted: i === currentIndex }"
          @click="jump(i)"
        ></li>
      </ul>
    </div>
  </div>
  <!-- Component End -->
  <!-- <script type="text/javascript"></script> -->
  <script src="js/vue.min.js"></script>
  <!-- main-1: CSS的transition，且没有闪动 -->
  <script src="js/main-1.js"></script>
</body>
</html>